{% load static %}
<html>
    <head>
        <title>Expert Process</title>
        {% include "base_css.html" %}
    </head>
    <body>
    <div class="container-fluid main-color text-center shadow text-center" style="box-shadow: 0px 6px 3px black !important; background-color:purple !important" >
        <br />
        <center>
                 <h1 style="color:white">ANAVI</h1>
        </center>
      
        <br />
        <br />
    </div>
    <br />
    <br />
    <div class="container" style="font-size:25px">

        Hey,<b>{{ name }}</b><br />
        <br />
        You have applied to become a language expert at Anavi. Your application is being processed. Please check your mailbox regularly or check again if you don't get an answer within a week. Anavi thanks you for your confidence.
       
    </div>
    <br />
    <br />
    <div class="container-fluid border-top">
        <br />
        <br />
        <div class="container">
            <h4>
                <b>Suivez nous sur: Facebook, Twitter, Instagram, github</b>
            </h4>
              
        </div>
      
    </div>
    </body>
</html>