{% extends 'base.html' %}
{% load static %}
{% block content %}
<br />
<script type="text/javascript">
    $(function(){
        $("#h-stat-table").DataTable();

        $.get("{% url 'hotel:hotelstat' hotel.token %}")
    })
   
</script>
<div class='container-fluid stat-card'>
    <ul class="nav nav-pills border-bottom" role="tablist" id="tab-h-stat">
        <li class="nav-item">
            <a role="tab" data-toggle="tab" class="nav-link active" id="general-h-stat-link" href="#general-h-stat-tab">General Stat</a>
        </li>
        <li class="nav-item">
            <a role="tab" data-toggle="tab" class="nav-link" id="general-h-aspect-link" href="#general-h-aspect-tab">Aspect statistique</a>
        </li>
        <li class="nav-item">
            <a role="tab" data-toggle="tab" class="nav-link" id="general-h-graph-link" href="#general-h-graph-tab">Aspect Graph</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane show active" id="general-h-stat-tab" aria-labelledby="general-h-stat-link">Salut</div>
        <div role="tabpanel" class="tab-pane" id="general-h-aspect-tab" aria-labelledby="general-h-aspect-link">
            <div class="row">
                <div class="col-lg-6 pr-2">
                    <h2>Detail Aspect Statistique</h2>
                    <table class="table table-striped table-bordered" id="h-stat-table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="display: none;">Aspect Ascii</th>
                                <th>Aspect Name</th>
                                <th>Positive(%)</th>
                                <th>Neutral(%)</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aspect,val in aspect_stat.items  %}
                                <tr>
                                    <td style="display: none;">{{ aspect }}</td>
                                    <td>{{ val.name }}</td>
                                    <td>{{ val.positive }}({{val.pos_percent}}%)</td>
                                    <td>{{ val.neutral }}({{val.neu_percent}}%)</td>
                                    <td>{{ val.total }}</td>
                                </tr>
                              
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-6 p-1">
                    <h1>Target aspect details</h1>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Positive</th>
                                <th>Neutral</th>
                                <th>Total</th>
                                <th>Graph</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,gp in aspect_group.items  %}
                                <tr>
                                    <td>{{ gp.name }}</td>
                                    <td>{{ gp.positive }} ({{ gp.pos_percent }}%)</td>
                                    <td>{{ gp.neutral }} ({{ gp.neg_percent }}%)</td>
                                    <td>{{ gp.total }}</td>
                                    <td>Graph</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="general-h-graph-tab" aria-labelledby="general-h-graph-link">Bonjour</div>
    </div>
    <div class='row'>
        <div class="col-6">
            <h3>Comment by site</h3>
            <img src="{% static 'hotel/temp_image/' %}{{ plot_comment_by_site }}" width="100%" />
        </div>
        <div class='col-lg-2 col-md-3 col-sm-6 col-12'>
            <div class="card border-0 shadow">
                <h3>{{ nb_comment }}</h3>
                Feed backs
            </div>
        </div>

        {% if web %}
        <div class='col-lg-2 col-md-3 col-sm-6 col-12'>
            <div class="card border-0 shadow">
                <h3>{{ web.nb }}</h3>
                Feedbacks on <a href="{{ web.website.link }}">{{web.website.name }}</a>
            </div>
        </div>
        {% endif %}
    </ul>
</div>
{% endblock content %}
