{% extends "base.html" %}
{% load static %}



{% block content %}
<br />
<div class='container-fluid main-color'>
  <br />
  <br />
  <br />
  <br />
  <div class='row row-cols-sm-1 row-cols-md-2 row-cols-xl-2'>
    <div class='col text-white'>
      <h2 class='jura'>
        We give you possibility to analyse the feed back of your
        clients with the goal to perform well your services and
        offer
        <br />
        <br />
      </h2>
      <h2>
        <span class='montserrat'>
          Opinion at the heart of the process</span>
      </h2>
      <br />
      
      <a href='' class='btn rounded-pill second-color shadow p-3 text-white' style='width:150px'>Join us</a>
      <br />
      <br />
    </div>
  </div>
  <br />
      <br />
      <br />
      <br />
      <img src="{% static 'user/images/emotion_bg.jpg' %}" />
</div>

{% endblock %}