{% load static %}
<!doctype html>
<html lang='en'>
<head>
<meta property="og:title" content="anavi home page" />
<meta property="og:description" content="Anavi is a web application who allow user to analyse feeback from her establishement" />
<meta property="og:image" content="{% static 'images/png/logo_anavi_main.png' %}" />
<meta property="og:type" content="website" />
<title>{{ title }}</title>
{% include "base_css.html" %}
</head>
<body>
  <nav class="navbar fixed-top   bg-white shadow jura">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo/logo_anavi_main.png'  %}" /></a>
        <ul class="nav second-color-text">
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'crwallerhome' %}">Go to crwal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'anaviuser:login' %}">Connection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link second-color text-white rounded-pill shadow" style="width: 150px; text-align: center;" href="">Register</a>
          </li>
        </ul>
</nav>
<br /><br /><br />
{% block content %}{% endblock %}

<div class='footer anavi-footer border-top'>
  <br />
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-lg-2 col-md-3 col-sm-6'>
          <h3>Follow us</h3>
            <ul class="list-unstyled">
                <li><a href=''>Facebook</a></li>
                <li><a href=''>Twitter</a></li>
                <li><a href=''>Instagram</a></li>
            </ul>
        </div>

        <div class='col-lg-2 col-md-3 col-sm-6'>
          <h3>Services</h3>
            <ul class="list-unstyled col-md-3 col-sm-6">
                <li><a href=''>Website Crawling</a></li>
                <li><a href=''>Feedback Analyser</a></li>
            </ul>
        </div>

        <div class='col-12 col-lg-3 col-md-3 col-sm-6'>
            <h3>News</h3>
            <ul class="list-unstyled">
                <li><a href=''>Blog</a></li>
                <li>
                  <form class=''>
                    <input type='email' name='emailnews' placeholder='Enter your email address' /><br /></br />
                    <button type='submit' class='btn btn-sm second-color text-white rounded-pill'>s'abonner</button>
                  </form>
                </li>
            </ul>
        </div>
                  
        <div class='col-12 col-lg-2 col-md-3 col-sm-6'>
          <h3>Ressources</h3>
            <ul class='list-unstyled'>
              <li><a href=''>FAQ</a></li>
              <li><a href=''>Help center</a></li>
              <li><a href=''>Blog</a></li>
              <li><a href=''>Team</a></li>
            </ul>
        </div>

        <div class='col-12 col-lg-2 col-md-3 col-sm-6'>
          <h3>Langue</h3>
          <form class=''>
            <select name='langue'>
              <option select='en'>English</option>
              <option select="fr">Francais</option>
            </select>
          </form>
        </div>
      </div>
    
    </div>
  </br/>
  <div class='text-center'>
     <strong>copyright@anavi-ml 2020</strong>
  </div>
 
   </br/>
    </br/>
</div>


</body>
</html>