{% load static %}

<link rel="stylesheet" type='text/css' href="{% static 'css/librairies/bootstrap.min.css' %}" />
<link rel="stylesheet" type='text/css' href="{% static 'css/anavi.css' %}" />
<link rel='icon' type='image/png' href="{% static 'images/png/logo_anavi_bold.png' %}" />
<script type='text/javascript' src="{% static 'js/librairies/jquery-3.5.1.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/librairies/popper.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/anavi.js' %}"></script>
<script type='text/javascript' src="{% static 'js/librairies/bootstrap.min.js' %}"></script>
<script type="text/javascript" src ="{% static 'js/librairies/FileSaver.min.js' %}"></script>

