{% load static %}
<!doctype html>
<html lang='en'>
<head>
<meta property="og:title" content="anavi home page" />
<meta property="og:description" content="Anavi is a web application who allow user to analyse feeback from her establishement" />
<meta property="og:image" content="{% static 'images/png/logo_anavi_main.png' %}" />
<meta property="og:type" content="website" />
<title>{{ title }}</title>
{% include "base_css.html" %}
</head>
<body>
  <script type="text/javascript">
    var home_url="{% url 'home' %}";
  </script>
  <nav class="navbar fixed-top   bg-white shadow main-nav">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo/logo_anavi_main.png'  %}" /></a>
        <ul class="nav second-color-text">
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'crwallerhome' %}">Go to crwal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'anavi:about-us' %}">About</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact us</a>
            </li>
            
            {% if request.session.user.id %}
            <li class="nav-item dropdown" id="dropdown-user-profil-menu">
              <a class="nav-link text-black-50 dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">{{ request.session.user.name}}</a>
              <div class="dropdown-menu dropdown-menu-left shadow-lg bg-white border-0" aria-labelledby="dropdown-user-profil-menu">
                  <a href="{% url 'amanager:managespace' %}" class="dropdown-item">Espace Manager</a>
                  <a class="dropdown-item" href="{% url 'expert:space' %}">Espace Expert</a>
                  <a class="dropdown-item" href="#">Espace Developpeur</a>
                  <div class="dropdown-divider"></div>
                  
                  {% if request.session.user.is_admin %}
                    <a class="dropdown-item" href="{% url 'anaviadmin:dashboard' %}">Administration</a>
                  {% endif %}
                    
                  <a class="dropdown-item" href="#">Mon Compte</a>
                  <a class="dropdown-item" href="#">Changer mon mot de passe</a>
                  <a href="#" class="dropdown-item">Deconnexion</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'anaviuser:login' %}">Connection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link second-color text-white rounded-pill shadow" style="width: 150px; text-align: center;" href="">Register</a>
            </li>
            {% endif %}
              

        </ul>
</nav>
<br /><br /><br /><br /><br />
{% block content %}{% endblock %}

<div class='footer anavi-footer border-top'>
  <br />
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-lg-2 col-md-3 col-sm-6'>
          <h3>Follow us</h3>
            <ul class="list-unstyled">
                <li><a href=''>Facebook</a></li>
                <li><a href=''>Twitter</a></li>
                <li><a href=''>Instagram</a></li>
            </ul>
        </div>

        <div class='col-lg-2 col-md-3 col-sm-6'>
          <h3>Services</h3>
            <ul class="list-unstyled col-md-3 col-sm-6">
                <li><a href=''>Website Crawling</a></li>
                <li><a href=''>Feedback Analyser</a></li>
            </ul>
        </div>

        <div class='col-12 col-lg-3 col-md-3 col-sm-6'>
            <h3>News</h3>
            <ul class="list-unstyled">
                <li><a href=''>Blog</a></li>
                <li>
                  <form class=''>
                    <input type='email' name='emailnews' placeholder='Enter your email address' /><br /></br />
                    <button type='submit' class='btn btn-sm second-color text-white rounded-pill'>s'abonner</button>
                  </form>
                </li>
            </ul>
        </div>
                  
        <div class='col-12 col-lg-2 col-md-3 col-sm-6'>
          <h3>Ressources</h3>
            <ul class='list-unstyled'>
              <li><a href=''>FAQ</a></li>
              <li><a href=''>Help center</a></li>
              <li><a href=''>Blog</a></li>
              <li><a href=''>Team</a></li>
            </ul>
        </div>

        <div class='col-12 col-lg-2 col-md-3 col-sm-6'>
          <h3>Langue</h3>
          <form class=''>
            <select name='langue'>
              <option select='en'>English</option>
              <option select="fr">Francais</option>
            </select>
          </form>
        </div>
      </div>
    
    </div>
  <br />
  <div class='text-center'>
     <strong>copyright@anavi-ml 2020</strong>
  </div>
 
   <br />
    <br />
</div>


</body>
</html>