{% load static %}
<html>
    <head>
        <title>Confirm account</title>
        {% include "base_css.html" %}
    </head>
    <body>
    <div class="container-fluid main-color text-center shadow">
        <br />
       <img src="{% static 'images/logo/logo_anavi_blanc.png' %}" height="60px" />
        <br />
        <br />
    </div>
    <br />
    <br />
    <div class="container" style="font-size:25px">

        Hey,<b>{{data.name}}</b><br />
        <br />
            Vous avez demendez a renitialiser votre mot de passe.
            Veuilez cliquer sur le lien suivant ou entrez le code dans le
            champ adequat.
        <br />
        <br />
        <a href="">Terminer l'inscrition</a>
         <br />
        <br />
        <b>Code: {{data.code}}</b>
       
    </div>
    <br />
    <br />
    <div class="container-fluid border-top">
        <br />
        <br />
        <div class="container">
            <h4>
                <b>Suivez nous sur: Facebook, Twitter, Instagram, github</b>
            </h4>
              
        </div>
      
    </div>
    </body>
</html>