{% load static %}
<!doctype html>
<html>
    <head>
        <script type="text/javascript">
            var home_url="{% url 'home_page' %}"
            console.log(home_url)
          </script>
        <title>Login</title>
        {% include "base_css.html" %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- <link rel="stylesheet" type='text/css' href="{% static 'css/librairies/bootstrap.min.css' %}" />
        <link rel="stylesheet" type='text/css' href="{% static 'css/anavi.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        -->
    </head>

<style type="text/css">
    body{
        background-image: url("{% static 'images/emotion_bg.jpg' %}");
        background-size: cover;
        padding-top:none !important;
    }
    .cover-all{
        height:920px;
        background-color: rgb(6,13,59,0.8);
    }
    
    
</style>

  <body>
    <div class="cover-all container-fluid text-white" >
        <br />
        <br />
        <br />
            <div class="row" style="margin-top: 105px;">
                <div class='col-lg-1'>

                </div>
                <div class='col-lg-5'>
                    <br />
                    <img class = "logo_blanc" src="{% static 'images/logo/logo_anavi_blanc_2.png' %}" style="margin-top: 15px;" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a href='/user/signup' class='btn-lg rounded text-white second-color shadow-lg p-3 montserrat'>REGISTER NOW</a>
                    <br />
                    <img class = "yoyo" src="{% static 'images/semi_yoyo.png' %}"  style='position:relative;top: 0px;  width: 300px;' />
                </div>
                <div class="col-lg-5 bg-white text-dark rounded-sm shadow-lg white-part"  >
                    <div class='container'>
                        <div class="text-center">
                            <img src="{% static 'images/logo/logo_anavi_bold.png' %}" style='position: relative; margin: 15px; width: 70px;'/>
                        </div> 
                       <div class = ""> 
                        <h3 class='main-color-text ' style="margin: 10px;">Sign In</h3>
                       </div>
                        <form style="margin-top: 30px;" action="{% url 'anaviuser:plogin' %}" method="post" id="form-login">
                                {% csrf_token %}
                            <div class="input-group mb-3 inputloginGroup">
                              <!-- <div class="input-group-prepend " style="border-right-width: 0px;" id="testFocus" >
                                <i class="fa fa-at main-color-text input-group-text bg-white iconLogin"  id="inputGroup-sizing-default" style="border-right-width: 0px;"></i>   
                              </div> -->
                              <i class="fa fa-at iconLogin" style="border-right-width: 0px;"></i> 
                              <input type='text' name='email' id='login' placeholder="Enter phone or email" class='form-control inputLogin' style="border-left-width: 0px;"  />
                            </div>

                            <div class="input-group mb-3">
  
                                <i class="fa fa-lock iconLogin "   style="border-right-width: 0px;"></i>
                                <input type='password' name='password' id='password'  placeholder="Enter your password" class='form-control inputLogin' style="border-left-width: 0px;"  />
                            </div>
                           
                            <a href='/user/reinitialize_mail' class='main-color-text'>Mot de passe oublié?</a>
                            <br />
                            <br />
                            
                            <div class='row'>
                                <div  class="col-lg-5" >
                                    <a href='/user/signup' class='btn rounded text-white second-color container' >No Account?</a>
                                </div>
                                <div class='col-lg-2 '>
                                </div>
                                <div class='col-lg-5 '>
                                    <button type='submit' class='btn main-color text-white container'>Connexion</button>
                                </div>
                                <br/>
                            </div>  
                        </form>
                    </div>
            </div>
    </div>
  </body>
</html>