 {% load static %}

<!doctype html>
<html>
   <head>
      <title>Sign up</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/librairies/bootstrap.min.css' %}" />
        <link rel="stylesheet" type='text/css' href="{% static 'css/anavi.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   </head>
   <style type="text/css">
    body{
        background-image: url("{% static 'images/emotion_bg.jpg' %}");
        background-size: cover;
        padding-top:none !important;
    }
    .cover-all{
        height:920px;
        background-color: rgb(6,13,59,0.8);
    }
   
   </style>
   <body>
      <div class="cover-all container-fluid text-white">
         <br/>
         <br/>
         <div class = "row " style="margin-top: 80px;">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-5">
               <br/>
               <br/>
               <span class="text-center text-white title-text"> Join ANAVI and Understand  Emotions</span>
               <br/>
               <br/>
               <br/>
               <a href="/"><img src="{% static 'images/logo/logo_anavi_blanc_2.png' %}" style="margin-top: 20px; width: 200px;"/></a>
              
            </div> 
    

            <div class="col-lg-5 bg-white text-dark rounded-sm shadow-lg white-part">
               <!-- insert the first logo-->
               <div class="container">
                  <div class="text-center">
                    <a href="/"> <img src="{% static 'images/logo/logo_anavi_bold.png' %}"style='position: relative; margin: 15px; width: 70px;'/></a>
                  </div>
                  <br/>
                <!-- insert the first title-->  
                  <h3 class="main-color-text ">Sign up now</h3>
                  <form   style="margin-top:10px" action="{% url 'anaviuser:Psignup' %}" method = "POST">
                      {% csrf_token %} 
                     
                     <div class="input-group mb-3 inputloginGroup">
                        
                        <i class="fa fa-address-book-o iconLogin"  id="inputGroup-sizing-default" ></i>
                        <input  type='text' name='name' id='name' placeholder="Enter name and first-name" class='form-control inputLogin'   />
                      </div>
                     <div class="input-group mb-3 inputloginGroup">
                        <i class="fa fa-at iconLogin "  id="inputGroup-sizing-default" ></i>
                        <input type='text' name='mail' id='mail' placeholder="Enter your mail" class='form-control inputLogin'   />
                     </div>
                     <div class="input-group mb-3 inputloginGroup">
                        
                        <i class="fa fa-lock iconLogin "  id="inputGroup-sizing-default" ></i>
                        <input type='password' name='password' id='password' placeholder="password" class='form-control inputLogin' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                         title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  required/>

                     </div>
                     <div class="message" id="message" >
                         <h6>Password must contain the following:</h6>
                         <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                         <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                         <p id="number" class="invalid">A <b>number</b></p>
                         <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                     </div>
                     
                     <div class="input-group mb-3 inputloginGroup">
                    
                        <i class="fa fa-lock iconLogin"  id="inputGroup-sizing-default" ></i>
                        <input type='password' name='c-password' id='c-password' placeholder="confirm password" class='form-control inputLogin '   />
                     </div>
                     <div class="message" id="confirm-password" >
                        
                         <p id="conf-password" class="invalid"><b>  identic</b> password</p>
                     </div>
                      <br/>
                     <div class="row">
                        <div class='col-lg-5 '>
                           <button type='submit' class='btn second-color text-white container'>Sign Up</button>
                       </div>
                       <div class='col-lg-5 '>
                       </div>
                       <div class='col-lg-1 '>
                       </div>
                       <br/>

                     </div>
                     
                        <div  class="col-lg-5" >
                            <a href='/user/login' class='text-center main-color-text  container already' >Already have an account</a>
                        </div>
                        
                        <div class='col-lg-7 '>
                             
                        </div>
                    
                     </div >

                     
                  </form >

                  

               </div>

            </div>
            <div class="col-lg-1">

            </div>

         </div>
      </div>
   </body>

<script>
var myInput = document.getElementById("password");
var sInput = document.getElementById("c-password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var confPassword = document.getElementById("conf-password");
var wrong = document.getElementById("bad");
var good = document.getElementById("good")


// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// when the user clicks on the c-password field , show the message box 
sInput.onfocus = function () {
 
  document.getElementById("confirm-password").style.display = "block";
}

// when the user click outside the password fiels d , hide the message box
sInput.onblur = function(){
  document.getElementById("confirm-password").style.display = "none"
} 

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}
// validate the correct password
sInput.onkeyup =function(){
   //alert(sInput.value)
  if (myInput.value == sInput.value)
  {
  confPassword.classList.remove("invalid");
  confPassword.classList.add("valid");
  confPassword.classList.remove("wrong")
  confPassword.classList.add("good")
  }

}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>

</html>

 

 